*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family: Arial, sans-serif;

background:#ffeaf4;

color:#333;

padding:20px;

}

.container{

max-width:1200px;

margin:auto;

}

h1{

color:#ff2e93;

margin-bottom:20px;

font-size:38px;

text-align:center;

}

a{

text-decoration:none;

}

button{

cursor:pointer;

border:none;

}

input{

width:100%;

padding:14px;

border-radius:12px;

border:1px solid #ffd3e8;

font-size:16px;

outline:none;

transition:0.3s;

}

input:focus{

border-color:#ff4fa3;

box-shadow:0 0 10px rgba(255,79,163,0.2);

}

/* BOTONES */

.btnGuardar{

background:#ff4fa3;

color:white;

padding:14px 20px;

border-radius:12px;

font-weight:bold;

transition:0.3s;

display:inline-block;

}

.btnGuardar:hover{

background:#ff2e93;

transform:translateY(-2px);

}

.btnVolver{

background:white;

color:#ff2e93;

padding:14px 20px;

border-radius:12px;

font-weight:bold;

border:2px solid #ffb6d9;

transition:0.3s;

display:inline-block;

}

.btnVolver:hover{

background:#ffd3e8;

}

/* RESPONSIVE */

@media(max-width:768px){

body{

padding:10px;

}

h1{

font-size:30px;

}

}