.indexContainer{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

}

.indexCard{

background:white;

padding:50px;

border-radius:35px;

box-shadow:0 10px 30px rgba(255,79,163,0.15);

max-width:500px;

width:100%;

text-align:center;

}

.logoGrande{

font-size:70px;

margin-bottom:20px;

}

.tituloIndex{

font-size:45px;

font-weight:bold;

color:#ff2e93;

margin-bottom:15px;

}

.textoIndex{

color:#666;

line-height:1.7;

margin-bottom:35px;

font-size:17px;

}

.btnEntrar{

background:#ff4fa3;

color:white;

padding:16px 28px;

border-radius:16px;

font-size:18px;

font-weight:bold;

display:inline-block;

transition:0.3s;

}

.btnEntrar:hover{

background:#ff2e93;

transform:translateY(-3px);

}

/* RESPONSIVE */

@media(max-width:768px){

.indexCard{

padding:35px 25px;

}

.tituloIndex{

font-size:35px;

}

.logoGrande{

font-size:55px;

}

}