.cardFormulario{

background:white;

max-width:650px;

margin:auto;

padding:40px;

border-radius:25px;

box-shadow:0 8px 25px rgba(255,79,163,0.15);

}

.grupo{

margin-bottom:22px;

}

.grupo label{

display:block;

margin-bottom:8px;

font-weight:bold;

color:#ff2e93;

}

.botones{

display:flex;

justify-content:space-between;

gap:15px;

margin-top:30px;

flex-wrap:wrap;

}

@media(max-width:768px){

.cardFormulario{

padding:25px;

}

.botones{

flex-direction:column;

}

.btnGuardar,
.btnVolver{

width:100%;

text-align:center;

}

}